@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");

$font-primary-pixel: "Jersey 15", sans-serif;

$font-size-xs: 0.5rem;
$font-size-s: 0.75rem;
$font-size-def: 1rem;
$font-size-md: 1.5rem;
$font-size-l: 2rem;
$font-size-xxl: 3rem;
