:root {
  --bg-color: #4d088f;
  --bg-color-high: #a04dee;
  --second: #af007d;
  --third: #e82d62;
  --accent: #f9f871;
  --accent-sec: #ffb948;
  --accent-third: #ff764b;
}

@mixin circle($color-value, $radius) {
  border-radius: 100%;
  background-color: var($color-value);
  width: $radius;
  height: $radius;
}

a:link,
a:active {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:visited {
  text-decoration: underline;
  color: var(--accent-sec);
}
