/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import './assets/fonts.css';
@import './assets/theme.scss';

body {
  height: 100%;
  padding: 1rem;
  margin: 0;
  background: var(--bg-color);
  background: linear-gradient(
    0deg,
    var(--bg-color) 57%,
    var(--bg-color-high) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  //remove scroll for IE, Edge and Firefox
  -ms-overflow-style: none;
  scrollbar-width: none;
}

//remove scroll for Chrome, Safari and opera
body::-webkit-scrollbar {
  display: none;
}
